params {

    // the data to be processed
    spectra_dir     = '/path/to/spectra'
    fasta        = '/path/to/file.fasta'
    comet_params = 'comet.params'

    // whether or not to upload to limelight
    limelight_upload = false

    // limelight upload parameters
    limelight_project_id         = 7
    limelight_search_description = 'test upload search'
    limelight_search_short_name  = 'tus'
    limelight_tags               = 'foo,bar'

    // receive email when done at this address
    //email = 'your@email.com'

    // unlikely to need to change this
    limelight_webapp_url = 'https://limelight.yeastrc.org/limelight'
}

profiles {

    // params for running pipeline locally
    standard {
        // Maximum resources any single step may use. Every step is capped at
        // these values; set them to what you're willing to devote on this
        // machine. Assign the whole map (do not split into params).
        process.resourceLimits = [ cpus: 8, memory: '16.GB', time: '240.h' ]

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-ms-dda-comet/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }

    // params for running on AWS Batch (run with: -profile aws)
    aws {
        process.executor = 'awsbatch'
        process.queue = 'your-batch-job-queue'   // set to your AWS Batch job queue

        // Region of your AWS Batch + Secrets Manager. Required: when downloading
        // from PanoramaWeb or uploading to Limelight on Batch, the API key is
        // bridged through AWS Secrets Manager in this region.
        params.aws_region = 'us-west-2'

        process.resourceLimits = [ cpus: 32, memory: '120.GB', time: '240.h' ]

        // S3 locations for caches when running on Batch
        params.mzml_cache_directory = 's3://your-bucket/mzml_cache'
        params.panorama_cache_directory = 's3://your-bucket/panorama_cache'
    }
}

mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
